# macOS
.DS_Store

# Variables privadas
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Dependencias
node_modules/
frontend/node_modules/
backend/node_modules/

# Next.js
frontend/.next/
frontend/out/

# NestJS
backend/dist/

# Registros
*.log
npm-debug.log*

# Respaldos locales
.backups/

# Editores
.vscode/
.idea/
